body.signin-body {
	background-color: #e6f2ff;
}

.container.sigin-container {
	margin-top: 8%;
}

.card.signin-card {
	padding: 40 0px 20px;
	background-color: #f4f4f4;
	
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
	/* make sure it works on all browsers */
	
	-webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); 
	/* double box-shadow ex
	box-shadow: 0 0 0 1px rgba(0,0,0,0.15),
	0 2px 3px 0 rgba(0,0,0,0.1); */
}

img.sigin-img {
	padding: 0 2rem 2rem;
	margin: auto;
	display: block;

}

form.signin-form {
	max-width: 350px;
	margin: auto;
}

button.signin-btn {
	color: #ffffff;
	background-color: #d64829;
	width: 100%;
	margin-bottom: 1.2rem;

}

a.create-new-account {
	font-size: 1.2rem;
	display: block;
	text-align: center;
	margin-top: 15px;
}
